/* CSS Styles */
.classyButton {
    background-color: #3498db; /* Blue background color */
    color: #ffffff; /* White text color */
    font-size: 18px; /* Adjust the font size */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add some rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
  }
  
  /* Hover effect */
  .classyButton:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
.classyHeader{
    font-size: 15px;
    font-weight: bold;
    color: #3e5536;
    text-align: center;
}
.classyRadio{
    font-size: 15px;
    font-weight: bold;
    color: #3e5536;
    text-align: center;

}
.classyRadio label {
    margin-left: 10px;
}
.classyDropdown {
    font-size: 15px;
    font-weight: bold;
    color: #3e5536;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.classyTimer {
    font-size: 15px;
    font-weight: bold;
    color: #3e5536;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #3e5536;

}
.classyStartButton {
   font-size: 20px;
    font-weight: bold;
    color: #3e5536;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #3e5536;
    background-color: #ffffff;
    cursor: pointer;
}
.classyStartButton:hover {
    background-color: #3e5536;
    color: #ffffff;
}