@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.mircophone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.microphone-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(128deg, #ffffff, #647c88);
  padding: 20px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.microphone-icon-container.listening::before {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #ffffff81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border-radius: 50%;
  animation: listening infinite 1.5s;
}
@keyframes listening {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
.microphone-icon {
  width: 100%;
  height: 100%;
}
.microphone-status {
  font-size: 22px;
  margin-right: 20px;
  min-width: 215px;
}
.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
}
.microphone-result-container {
  text-align: center;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.microphone-result-text {
  margin-bottom: 30px;
  width: 70vw;
  overflow-y: auto;
}
.microphone-reset {
  border: 1px solid #fff;
  background: none;
  color: white;
  width: fit-content;
}
/* Define your custom colors */
.custom-btn-bg-color {
  background-color: #a7c957;
}

.custom-btn-bg-color:hover {
  background-color: #6c584c;
}

/* Define the hover effect */
.custom-btn-shadow {
  box-shadow: 0 4px 6px rgba(126, 25, 25, 0.1); /* Your custom hover shadow */
}
.btn-outline {
  border: 1px solid #a7c957; /* Your custom border color */
  color: #a7c957; /* Your custom text color */
  background-color: white; /* Your custom background color */
  outline: none;
  border-radius: 999px; /* For rounded shape */
  transition: all 0.3s; /* Adjust transition duration as needed */
}

.btn-outline:hover {
  background-color: #a7c957;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bg-color: {
  background-color: #a7c957;
}
.text-color: {
  color: '#aa725a';
}
