@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.mircophone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.microphone-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(128deg, #ffffff, #647c88);
  padding: 20px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.microphone-icon-container.listening::before {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #ffffff81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border-radius: 50%;
  animation: listening infinite 1.5s;
}
@keyframes listening {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
.microphone-icon {
  width: 100%;
  height: 100%;
}
.microphone-status {
  font-size: 22px;
  margin-right: 20px;
  min-width: 215px;
}
.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
}
.microphone-result-container {
  text-align: center;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.microphone-result-text {
  margin-bottom: 30px;
  width: 70vw;
  overflow-y: auto;
}
.microphone-reset {
  border: 1px solid #fff;
  background: none;
  color: white;
  width: fit-content;
}
/* Define your custom colors */
.custom-btn-bg-color {
  background-color: #a7c957;
}

.custom-btn-bg-color:hover {
  background-color: #6c584c;
}

/* Define the hover effect */
.custom-btn-shadow {
  box-shadow: 0 4px 6px rgba(126, 25, 25, 0.1); /* Your custom hover shadow */
}
.btn-outline {
  border: 1px solid #a7c957; /* Your custom border color */
  color: #a7c957; /* Your custom text color */
  background-color: white; /* Your custom background color */
  outline: none;
  border-radius: 999px; /* For rounded shape */
  transition: all 0.3s; /* Adjust transition duration as needed */
}

.btn-outline:hover {
  background-color: #a7c957;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bg-color {
  background-color: #a7c957;
}
.text-color {
  color: #6c584c;
}
.text-title {
  color: #6c584c;
  font-family: 'Caveat Brush, cursive';
  font-size: 25px;
}
.text-word {
  color: #6c584c;
  font-family: 'Caveat Brush, cursive';
  font-size: 30px;
  font-weight: 800;
}
.text-normal {
  color: #6c584c;
  font-family: 'Caveat Brush, cursive';
  font-size: 20px;
}

.bg-color-lite {
  background: linear-gradient(to top, #ffffff, #e3efc6);
}
.bg-color-lite-rev {
  background: linear-gradient(to bottom, #ffffff, #e3efc6);
}
.input-border-color {
  border: 1px solid #6c584c;
}

.input-border-color:focus {
  border: 1px solid #758d3d;
}

.icon-button {
  background-color: #647934;
}
.icon-button-clicked {
  background-color: #6c584c;
}
.icon-button-disabled {
  background-color: #96b54e;
}

.message-background {
  background-color: #e0fbfc;
}

.message-background-user {
  background-color: #f9c74f;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Define the styles for the scrollbar thumb when hovered */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}
